language: ruby

rvm:
  - 2.3.1

bundler_args: --jobs=2

before_script:
  - cp config/secrets.yml.sample config/secrets.yml
  - bundle install
  - bundle exec rake db:create
  - bundle exec rake db:migrate
  - bundle exec rake db:test:prepare

script:
  - bundle exec rake db:setup
  - bundle exec rubocop

cache: bundler

services:
  - mysql
